body {
    background: url("img/background.jpg") center center / cover no-repeat fixed;
    color: #ededed;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    padding: 10px 20px;
    transition: top 0.3s ease;
}

.logo img {
    height: 60px;
    width: auto;
    display: block;
}

.navbar {
    position: relative !important;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

nav ul li {
    position: relative;
}

.nav-item.dropdown {
    position: relative;
}

.nav-item .dropdown-menu {
    position: absolute;
    top: 100%;
    right: -60px;
    left: auto;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 20px 0;
}

.dropdown-menu .dropdown-item {
    padding: 10px 20px;
    white-space: nowrap;
}

.navbar-nav .nav-link {
    font-weight: 700;
    color: #ededed;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #FFD700;
    text-decoration: underline;
}

.gallery-title {
    font-size: 3rem;
    font-weight: 800; 
     color: #FFD700;
    text-shadow: 0 0 10px #000;   
    text-align: center;      
    margin-bottom: 30px;         
}


.gallery-section {
    padding: 120px 20px;
    background: url('./img/background.jpg') center/cover no-repeat fixed;
    color: #ededed;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item {
    background: #1a1a1a !important;
    border-radius: 15px;
    padding: 15px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;        
    transition: transform .4s ease;
}

.gallery-item:hover img {
    transform: scale(1.03);
}

.gallery-item:hover img {
    transform: scale(1.05);
    filter: brightness(1.1);
}

@media(max-width: 600px){
    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
    }
}
